*{
	font-family:'Open Sans', sans-serif;
}

html, body{
	width:  100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow:hidden;
	background:transparent;
}

html{
	background-color:#000;
}

a{
	text-decoration:none !important;
}

.no-highlight{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.jl-webgl-mobile-arrow-keys div{
	right:auto !important;
}

.jl-webgl-mobile-arrow-keys .arrow-down{ left:27px !important; bottom: 55px !important; }
.jl-webgl-mobile-arrow-keys .arrow-up  { left:27px !important; bottom:125px !important; }

.jl-webgl-mobile-arrow-keys .arrow-left { bottom:90px !important; left: 5px !important; }
.jl-webgl-mobile-arrow-keys .arrow-right{ bottom:90px !important; left:45px !important; }
